doctype html
html(ng-app="Blog")
  head
    title= title
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js')
    script(type='text/javascript' src='https://code.jquery.com/jquery-1.9.1.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(type='text/javascript' src='javascripts/app.js')

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body(ng-controller="MainCtrl as post")
    block content
