extends layout

block content
 form(ng-submit='post.addPost()' ng-controller="MainCtrl as post")
    input(type='text',  name='text')
    input(type="text", name='link')
    input(type="image", name="image")
    input(type='submit', value='Submit')
